$pure-white: #fff;
$dark: #000;
$dark-hover: #222;
$light-gray: #ddd;
$gray: #7e7e7e;
$gray2: #303030;
$green-color: #2fd973;
$green-color-hover: #51fc95;



$image-color: linear-gradient(45deg, rgba(0, 0, 0, 0.543), rgba(0, 0, 0, 0.598));