@media (min-width: 768px) {
	.header {
		&__text-heading {
			font-size: 3.8rem;
		}
	}

	.about-us {
		&__text {
			margin-top: 2em;
			&-title {
				font-size: 1.6em;
			}
			&-p {
				font-size: 1.2em;
			}
		}
	}

	.hero-img {
		&__text {
			padding: 1.2em 2.4em;
			font-size: 3.4rem;
		}
	}

	.offers {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__card {
			margin: 1em;
			width: 45%;
		}
	}

	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}

		&__box-desktop {
			display: block;
		}

		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}

		&__box-title {
			font-size: 1.6rem;
			margin-bottom: 1em;
		}

		&__box-list {
			list-style: none;
		}

		&__box-list-item {
			margin-bottom: 1em;

			a {
				transition: color 0.3s;
				color: $gray2;
				text-decoration: none;
			}

			a:hover {
				color: $dark;
			}
		}
	}

	.map-section {
		display: block;
		.map {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10rem;

			.mapouter {
				position: relative;
				text-align: right;
				height: 500px;
				width: 600px;
			}

			.gmap_canvas {
				overflow: hidden;
				background: none !important;
				height: 500px;
				width: 600px;
			}
		}
	}

	.info {
		&__list {
			background-color: $light-gray;
		}
	}

	.contact {
		&__form {
			gap: 30px;
		}

		&__form-box {
			&:nth-child(1) {
				grid-column: 1/4;
				grid-row: 1/2;
			}
			&:nth-child(2) {
				grid-column: 4/7;
				grid-row: 1/2;
			}
			&:nth-child(3) {
				grid-column: 1/-1;
				grid-row: 2/3;
			}
		}

		&__form-btn {
			grid-row: 3/4;
			font-size: 1.8rem;
		}

		label {
			font-size: 2rem;
		}
	}
}
